<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.web.icity.dao.TableMapper.CaseMapper">

    <resultMap id="caseResult" type="HashMap">
        <id column="ID" property="caseId" jdbcType="DECIMAL"/>
        <result column="district" property="district" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="area_num" property="areaNum" jdbcType="VARCHAR"/>
        <result column="population" property="population" jdbcType="VARCHAR"/>
        <result column="case_title" property="caseTitle" jdbcType="VARCHAR"/>
        <result column="content_source" property="contentSource" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="caseListResult" type="HashMap">
        <id column="ID" property="caseId" jdbcType="DECIMAL"/>
        <result column="case_title" property="caseTitle" jdbcType="VARCHAR"/>
        <result column="content_source" property="contentSource" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="caseList">
        ID, case_title, content_source
    </sql>

    <insert id="insertCase" parameterType="com.web.icity.entity.Case">
        insert into cases
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="district != null">
                district,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="areaNum != null">
                area_num,
            </if>
            <if test="population != null">
                population,
            </if>
            <if test="caseTitle != null">
                case_title,
            </if>
            <if test="contentSource != null">
                content_source,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="district != null">
                #{district},
            </if>
            <if test="country != null">
                #{country},
            </if>
            <if test="areaNum != null">
                #{areaNum},
            </if>
            <if test="population != null">
                #{population},
            </if>
            <if test="caseTitle != null">
                #{caseTitle},
            </if>
            <if test="contentSource != null">
                #{contentSource},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.web.icity.entity.Case">
        update cases
        <set>
            <if test="district != null">
                district = #{district},
            </if>
            <if test="country != null">
                country = #{country},
            </if>
            <if test="areaNum != null">
               area_num = #{areaNum},
            </if>
            <if test="population != null">
                population = #{population},
            </if>
            <if test="caseTitle != null">
                case_title = #{caseTitle},
            </if>
            <if test="contentSource != null">
                content_source = #{contentSource},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
    </update>

    <delete id="deleteCase" parameterType="java.lang.Integer">
        delete from cases where ID = #{id}
    </delete>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="caseResult">
        select * from cases where ID = #{id}
    </select>

    <select id="queryIdByCaseCreateTime" parameterType="java.lang.String" resultType="java.lang.Integer">
        select ID from cases
        where create_time = #{createTime}
    </select>

    <select id="showCaseListByTime" parameterType="com.web.icity.entity.queryEntity.Range" resultMap="caseListResult">
        select <include refid="caseList"></include>
        from cases
        order by create_time desc
        limit #{startFrom}, #{limitation}
    </select>
</mapper>